@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root {
    --primary-color: #134365;
    --secondary-color: #F5DE73;
    --accent1-color: #7BC4D5;
    --accent2-color: #FFFFFF;

    --heading-font: 'Teko', serif;
    --paragraph-font: 'Teko', serif;

    --nav-background-color: #FFFFFF ;
    --nav-link-color: #000000;
    --nav-hover-link-color: #F5DE73;
    --nav-hover-background-color: #FFFFFF;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
section p {
    background-color: var(--secondary-color);
}
header {
    padding: 20px;
    background-color: var(--accent-color1);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #7BC4D5;
    max-width: 1000px;
}
p {
    padding: 25px;
}
nav  {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav img {
    width: 100px;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 1px;
    left: 10px;
    color: var(--primary-color);
    background-color: var(--accent2-color);
}
.hero article p {
    left: 5px;
    top: 25px;
}
.hero article {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    width: 25%;
}
.hero article img {
    float: right;
    margin-left: 10px;
}  
.sociallinks {
    display: flex;
    align-items: right;
    justify-content: right;
    margin: 1rem 0 3rem 0;
}
.sociallinks img {
    width: 20px;
}
.sociallinks a {
    color: #FFFFFF;
    text-decoration: none;
}
.gridcontainer {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 8px;
}
.griditem img {
    width: 150px;
}